.heroSeciton {
  background-color: var(--color-bg-main);

  .heroContainer {
    max-width: var(--breakpoint-lg);
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    padding: 5rem 2rem 5rem 2rem;
    gap: 2rem;
    align-items: center;

    @media (min-width: 768px) {
      gap: 10rem;
    }

    @media (min-width: 992px) {
      padding: 5rem 0 5rem 0;
    }

    .leftContent {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 4rem;

      @media (min-width: 768px) {
        /* gap: unset; */
      }

      .h1 {
        font-family: var(--font-family-secondary);
        font-size: 5.6rem;
        font-weight: 700;
        color: var(--color-text-white);
      }

      .h2 {
        font-family: var(--font-family-secondary);
        font-size: 3.2rem;
        font-weight: 500;
        color: var(--color-text-white);
      }

      .p {
        color: var(--color-text-white);
      }
    }

    .rightContent {
      width: 35vw;
      height: 50vw;
      overflow: hidden; /* Hide the overflow */
      position: relative;

      @media (min-width: 768px) {
        width: 40rem;
        height: 40rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Cover the container while maintaining aspect ratio */
        object-position: bottom;
        border-radius: var(--border-radius);
      }
    }
  }
}
