.footerSection {
  background-color: var(--color-bg-gray);

  .footerContainer {
    max-width: var(--breakpoint-lg);
    margin: auto;
    padding: 5rem 2rem 5rem 2rem;
    display: flex;
    gap: 8rem;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    @media (min-width: 992px) {
      padding: 15rem 0 15rem 0;
    }

    .footerImage {
      width: 25rem;
      height: 35rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
      }
    }

    .footerGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 1rem 4rem;
      font-size: 2rem;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 8rem auto;
      }

      .footerTitle {
        font-weight: 800;
        color: var(--color-text-black);
      }

      .footerList {
        list-style-type: none;
        padding: 0;
      }

      .footerList li {
        margin-bottom: 0.5rem;
      }

      .footerLink {
        color: var(--color-text-dark);
        text-decoration: none;
        transition: color 0.3s ease;
      }

      .footerLink:hover,
      .footerLink:focus {
        text-decoration: underline;
      }

      .footerNavigationTitle,
      .contactTitle,
      .socialMediaTitle,
      .footerNavigationItems,
      .contactItems,
      .socialMediaItems {
        grid-column: 1;
      }

      @media (min-width: 768px) {
        .footerNavigationTitle,
        .contactTitle,
        .socialMediaTitle {
          grid-row: 1;
        }

        .footerNavigationItems,
        .contactItems,
        .socialMediaItems {
          grid-row: 2;
        }

        .footerNavigationTitle,
        .footerNavigationItems {
          grid-column: 1;
        }

        .contactTitle,
        .contactItems {
          grid-column: 2;
        }

        .socialMediaTitle,
        .socialMediaItems {
          grid-column: 3;
        }
      }
    }
  }
}
